@charset "UTF-8";
/*---------------------------------*/
/*         _variables.scss        */
/*-------------------------------*/
/*---------------------------*/
/*          Fonts           */
/*-------------------------*/
/*          Menu 1       */
/*          Menu 2       */
/*          Menu 3       */
/*          Menu 4       */
/*---------------------------*/
/*          Colors          */
/*-------------------------*/
/*         General       */
/*         Shadows       */
/*          Menu 1       */
/*          Menu 2       */
/*          Menu 3       */
/*          Menu 4       */
/*      Media Queries    */
/*---------------------------------*/
/*           _init.scss           */
/*-------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Ma+Shan+Zheng&display=swap");
@import url("https://fonts.googleapis.com/css?family=Kalam:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Redressed&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Serif+Pro:700&display=swap");
@import url("https://fonts.googleapis.com/css?family=PT+Serif&display=swap");
@import url("https://fonts.googleapis.com/css?family=Dancing+Script:600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap");
html {
  /* set base font-size to equiv "10px", which is adapted to rem unit */
  font-size: 62.5%;
  /* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
  /* thanks to @guardian, @victorbritopro and @eQRoeil */
  font-size: calc(1em * 0.625);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* switching box model for all elements */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #fdcb46;
  /* base font-size corresponds to 10px and is adapted to rem unit */
  font-size: 1.6em;
  /* equiv 14px */
  line-height: 1.5;
  /* adapt to your design */
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

a {
  font-weight: 100;
  color: #fdcb46;
  text-decoration: none;
}

a:hover {
  color: #fdcb46;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  text-align: center;
}

p {
  text-align: justify;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

ul.unstyled {
  list-style: none;
}

ul,
ol {
  padding-left: 2em;
}

img {
  vertical-align: middle;
  border: 0;
  /* conserver le ratio des images et empêcher les débordements de boîtes dûs aux border ou padding */
  max-width: 100%;
  height: auto;
}

audio,
canvas,
video {
  display: inline-block;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

/* fixer une largeur maximale  de 100 % aux éléments potentiellement problématiques */
table,
td,
blockquote,
code,
pre,
textarea,
input,
iframe,
object,
embed,
video {
  max-width: 100%;
}

/* preserves vertical-rythm, thanks to http://soqr.fr/vertical-rhythm/ */
p,
ul,
ol,
dl,
blockquote,
pre,
td,
th,
label,
textarea,
caption,
details,
figure {
  line-height: 1.5;
}

/* gestion des mots longs */
textarea,
table,
td,
th,
code,
pre,
samp {
  word-wrap: break-word;
  /* passage à la ligne forcé */
  -webkit-hyphens: auto;
  /* césure propre */
  -ms-hyphens: auto;
      hyphens: auto;
}

code,
pre,
samp {
  white-space: pre-wrap;
  /* passage à la ligne spécifique pour les éléments à châsse fixe */
}

@-ms-viewport {
  width: device-width;
  zoom: 1;
}

@-o-viewport {
  width: device-width;
  zoom: 1;
}

@viewport {
  width: device-width;
  zoom: 1;
}

/*---------------------------------*/
/*           _fonts.scss          */
/*-------------------------------*/
/*          Main Fonts       */
/*       Menu 1 Fonts       */
/*       Menu 2 Fonts       */
/*       Menu 3 Fonts       */
/*       Menu 4 Fonts       */
@-webkit-keyframes opacity {
  0%,
  100% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}
@keyframes opacity {
  0%,
  100% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

@-webkit-keyframes shake {
  25% {
    -webkit-transform: translateX(2px) rotate(2deg);
            transform: translateX(2px) rotate(2deg);
  }
  75% {
    -webkit-transform: translateX(-2px) rotate(-2deg);
            transform: translateX(-2px) rotate(-2deg);
  }
}

@keyframes shake {
  25% {
    -webkit-transform: translateX(2px) rotate(2deg);
            transform: translateX(2px) rotate(2deg);
  }
  75% {
    -webkit-transform: translateX(-2px) rotate(-2deg);
            transform: translateX(-2px) rotate(-2deg);
  }
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0.6em;
  margin: 2.2em auto;
  background-color: #579c87;
}

@media (max-width: 767px) {
  .button {
    margin: 2em auto 3.5em auto;
  }
}

.button__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.4em 1.5em;
}

.button__title {
  font-size: 1.5em;
  font-weight: 500;
  margin: 0 0.2em 0 0;
}

.button__dot {
  display: inline-block;
  height: 6px;
  width: 6px;
  opacity: 1;
  margin: 0.7em 0.3em 0 0;
  border-radius: 50%;
  background-color: #fdcb46;
  -webkit-animation: 1.3s ease-in-out infinite both opacity;
          animation: 1.3s ease-in-out infinite both opacity;
}

.button__dot:nth-child(2) {
  margin-left: 0.1em;
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}

.button__dot:nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}

.navbar__wrapper__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2em;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .navbar__wrapper__button {
    font-size: 1.1em;
  }
}

@media (min-width: 1025px) {
  .navbar__wrapper__button:hover {
    -webkit-animation: shake 100ms cubic-bezier(0.4, 0.1, 0.6, 0.9) 4;
            animation: shake 100ms cubic-bezier(0.4, 0.1, 0.6, 0.9) 4;
  }
}

.navbar__wrapper__button__link {
  padding: 0.7em 0;
}

/*---------------------------------*/
/*          _header.scss          */
/*-------------------------------*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  top: 0;
  width: 100%;
  padding: 1.7em 0;
  background-color: #579c87;
}

.header__logo {
  width: 200px;
  margin: auto;
}

.header__logo__img {
  padding: 0;
  margin: 0;
}

/*---------------------------------*/
/*          _footer.scss          */
/*-------------------------------*/
.navbar {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #579c87;
  z-index: 20;
}

.navbar__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 992px;
  margin: 0 auto;
}

/*---------------------------------*/
/*      _menu-structure.scss      */
/*-------------------------------*/
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 770px;
  margin: 2.5em auto 10em auto;
  padding: 0 5em;
  -webkit-box-shadow: 0px 0px 17px 0px rgba(126, 126, 126, 0.5);
          box-shadow: 0px 0px 17px 0px rgba(126, 126, 126, 0.5);
}

@media (max-width: 1024px) {
  .menu {
    max-width: 700px;
  }
}

@media (max-width: 767px) {
  .menu {
    width: auto;
    margin: 0;
    padding: 1em;
    margin: 1.5em 0 3em 0;
  }
}

.menu__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2.5em 2em;
}

@media (max-width: 767px) {
  .menu__header {
    margin: 0;
    padding: 4em 1em;
  }
}

.menu__section {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 3em;
}

.menu__section:nth-child(4) {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .menu__section {
    margin-bottom: 4em;
  }
}

.menu__section__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.menu__section__wrapper__span {
  margin: auto 0;
}

@media (max-width: 767px) {
  .menu__section__wrapper__span {
    display: none;
  }
}

.menu__section__wrapper__title {
  position: relative;
  white-space: nowrap;
  margin: 0 auto;
  padding: 0 0.5em;
}

@media (max-width: 767px) {
  .menu__section__wrapper__title {
    padding: 0;
  }
  .menu__section__wrapper__title::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
  }
}

@media (min-width: 1025px) {
  .menu__section__wrapper__title {
    padding: 0;
  }
  .menu__section__wrapper__title::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    visibility: hidden;
    -webkit-transform-origin: 0% 50%;
            transform-origin: 0% 50%;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition: 0.2s cubic-bezier(0.32, 0, 0.07, 1);
    transition: 0.2s cubic-bezier(0.32, 0, 0.07, 1);
  }
  .menu__section__wrapper__title:hover::before {
    visibility: visible;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

.menu__section__txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.6em 0;
}

.menu__section__txt:first-child {
  margin-top: 1.5em;
}

.menu__section__txt:last-child {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .menu__section__txt {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 1em 0 1.5em 0;
    text-align: center;
  }
}

.menu__section__price {
  margin: 0 0 auto auto;
  padding-left: 2em;
}

@media (max-width: 767px) {
  .menu__section__price {
    margin: 0.7em auto;
    padding: 0;
  }
}

.menu__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 4em auto;
}

.menu__footer__img {
  margin: auto 0.5em;
}

@media (max-width: 767px) {
  .menu__footer__img {
    width: 30px;
  }
}

/*---------------------------------*/
/*      _menu-gen-styles.scss     */
/*-------------------------------*/
.general-style {
  color: black;
  padding: 0em 3em 10em 3em;
}

@media (max-width: 767px) {
  .general-style {
    padding: 0em 1em 10em 1em;
  }
}

.general-style__header__title {
  margin: 0.5em 0;
  font-size: 4em;
  font-weight: 500;
}

.general-style__section__title {
  font-size: 1.25em;
  font-weight: 500;
  margin: 0 auto;
}

.general-style__section__title::before {
  background-color: black;
}

.general-style__section__txt {
  font-size: 1.05em;
  padding: 0 4em;
}

@media (max-width: 767px) {
  .general-style__section__txt {
    padding: 0;
  }
}

.general-style__section__price {
  font-size: 1.19em;
  font-weight: 500;
  padding-left: 0.2em;
}

/*---------------------------------*/
/*            _home.scss          */
/*-------------------------------*/
.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2.5em 0;
}

@media (max-width: 767px) {
  .content {
    margin: 1em;
  }
}

.content__title {
  font-size: 2em;
  margin: 0 auto;
  color: black;
}

@media (max-width: 767px) {
  .content__title {
    font-size: 1.7em;
  }
}

.content__wrapper {
  max-width: 470px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-gap: 2em;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .content__wrapper {
    gap: 2.5em;
  }
}

@media (max-width: 767px) {
  .content__wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.content__wrapper__card {
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 7px 0px rgba(126, 126, 126, 0.3);
          box-shadow: 0px 0px 7px 0px rgba(126, 126, 126, 0.3);
}

.content__wrapper__card__img {
  opacity: 0.6;
  -webkit-transition: all 150ms ease-in;
  transition: all 150ms ease-in;
}

@media (min-width: 1025px) {
  .content__wrapper__card__img:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 1;
  }
}

@media (max-width: 1024px) {
  .content__wrapper__card__img {
    opacity: 1;
  }
}

@media (max-width: 767px) {
  .content__wrapper__card__img {
    opacity: 1;
  }
}

/*---------------------------------*/
/*          _menu-1.scss          */
/*-------------------------------*/
.menu-1 {
  background-color: #fcdfdb;
  color: #3d1319;
}

.menu-1__header__img {
  width: 60px;
  margin: auto;
}

.menu-1__header__title {
  font-family: "Ma Shan Zheng", cursive;
  font-size: 2.7em;
  font-weight: normal;
}

.menu-1__section {
  font-family: "Kalam", cursive;
}

.menu-1__section__span {
  max-width: 190px;
}

.menu-1__section__title {
  font-family: "Kalam", cursive;
  font-size: 1.6em;
}

.menu-1__section__title::before {
  background-color: #3d1319;
}

.menu-1__section__txt {
  font-size: 1.19em;
}

.menu-1__section__price {
  font-size: 1.19em;
}

@media (max-width: 767px) {
  .menu-1__section__price {
    margin: 0.7em auto;
    padding: 0;
    font-weight: 600;
  }
}

.menu-1__footer__img {
  width: 35px;
  height: auto;
}

.menu-1__footer__title {
  font-family: "Ma Shan Zheng", cursive;
  font-size: 2.2em;
  font-weight: normal;
  margin: auto 0;
}

/*---------------------------------*/
/*          _menu-2.scss          */
/*-------------------------------*/
.menu-2 {
  background-color: #fff5fe;
  padding: 0 2em 10em 2em;
}

.menu-2__header__title {
  font-family: "Redressed", cursive;
  font-size: 3em;
  font-weight: 600;
  padding: 1em 0.1em;
  background: -webkit-gradient(linear, left top, right top, from(#c67412), to(#6e4ccc));
  background: linear-gradient(to right, #c67412 0%, #6e4ccc 100%);
  background-clip: text;
  color: rgba(0, 0, 0, 0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu-2__section {
  font-family: "PT Serif", serif;
}

.menu-2__section__span {
  max-width: 222px;
}

.menu-2__section__title {
  font-family: "Source Serif Pro", serif;
  font-size: 1.3em;
}

.menu-2__section__txt {
  font-family: "PT Serif", serif;
  padding: 0 4em;
  margin: 1em 0;
}

@media (max-width: 767px) {
  .menu-2__section__txt {
    padding: 0;
  }
}

.menu-2__section__price {
  font-size: 1.1em;
  padding-left: 0.5em;
}

#m2-section-1 {
  color: #c67412;
}

#m2-title-1:before {
  background-color: #c67412;
}

#m2-section-2 {
  color: #a56799;
}

#m2-title-2:before {
  background-color: #a56799;
}

#m2-section-3 {
  color: #6e4ccc;
}

#m2-title-3:before {
  background-color: #6e4ccc;
}

/*---------------------------------*/
/*          _menu-3.scss          */
/*-------------------------------*/
.menu-3 {
  font-family: "Kalam", cursive;
  background-color: #edefef;
}

.menu-3__header__title {
  font-family: "Dancing Script", cursive;
  background: -webkit-gradient(linear, left top, right top, from(#0228dd), to(#229df9));
  background: linear-gradient(to right, #0228dd 0%, #229df9 100%);
  background-clip: text;
  color: rgba(0, 0, 0, 0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu-3__section__span {
  max-width: 230px;
}

/*---------------------------------*/
/*          _menu-4.scss          */
/*-------------------------------*/
.menu-4 {
  font-family: "Kalam", cursive;
  background-color: #fdfffd;
}

.menu-4__header__title {
  font-family: "Kaushan Script", cursive;
  background: -webkit-gradient(linear, left top, right top, from(#3d923a), to(#beff7f));
  background: linear-gradient(to right, #3d923a 0%, #beff7f 100%);
  background-clip: text;
  color: rgba(0, 0, 0, 0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu-4__section__span {
  max-width: 245px;
}
/*# sourceMappingURL=styles.css.map */