@charset "UTF-8";

/* ----------------------------- */

/* _reset.scss 				     */

/* ----------------------------- */

/* switching box model for all elements */

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    overflow-x:hidden;
}

html,
body {
    margin: 0;
    padding: 0;
}
ul,
ol {
    padding-left: 2em;
}
ul.unstyled {
    list-style: none;
}
img {
    vertical-align: middle;
    border: 0;
}
audio,
canvas,
video {
    display: inline-block;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 0;
}


/* fixer une largeur maximale  de 100 % aux éléments potentiellement problématiques */

img,
table,
td,
blockquote,
code,
pre,
textarea,
input,
iframe,
object,
embed,
video {
    max-width: 100%;
}
/* conserver le ratio des images et empêcher les débordements de boîtes dûs aux border ou padding */

img {
    height: auto;
}

/* TYPOGRAPHIE */

/* base font-size corresponds to 10px and is adapted to rem unit */

html {
    /* set base font-size to equiv "10px", which is adapted to rem unit */
    font-size: 62.5%;
    /* IE9-IE11 math fixing. See http://bit.ly/1g4X0bX */
    /* thanks to @guardian, @victorbritopro and @eQRoeil */
    font-size: calc(1em * .625);
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    font-size: 1.6em;
    /* equiv 14px */
    line-height: 1.5;
    /* adapt to your design */
}

/* preserves vertical-rythm, thanks to http://soqr.fr/vertical-rhythm/ */

p,
ul,
ol,
dl,
blockquote,
pre,
td,
th,
label,
textarea,
caption,
details,
figure {

    line-height: 1.5;
}

/* gestion des mots longs */

textarea,
table,
td,
th,
code,
pre,
samp {
    word-wrap: break-word;
    /* passage à la ligne forcé */
    -webkit-hyphens: auto;
    /* césure propre */
    -moz-hyphens: auto;
    hyphens: auto;
}
code,
pre,
samp {
    white-space: pre-wrap;
    /* passage à la ligne spécifique pour les éléments à châsse fixe */
}

ul {
    list-style-type: none;
    padding-left: 0;
}

a {
    font-weight: 100;
}

@-webkit-viewport {
    width: device-width;
    zoom: 1.0;
}
@-moz-viewport {
    width: device-width;
    zoom: 1.0;
}
@-ms-viewport {
    width: device-width;
    zoom: 1.0;
}
@-o-viewport {
    width: device-width;
    zoom: 1.0;
}
@viewport {
    width: device-width;
    zoom: 1.0;
}