/*---------------------------------*/
/*          _menu-3.scss          */
/*-------------------------------*/

.menu3 {
  display: flex;
  flex-direction: column;
  font-family: $m3-sect;
  color: black;
  font-size: 1.2em;
  max-width: 992px;
  margin: 2.5em auto 10em auto;
  padding: 0em 3em 10em 3em;
  background-color: $bg-m3;
  box-shadow: $menu-shadow;

  @media (max-width: $tablet) {
    margin: 2.5em 2em 10em 2em;
    padding: 0em 2em 8em 2em;
  }

  @media (max-width: $mobile) {
    margin: 0;
    padding: 1em 1em 4em 1em;
    margin: 1.5em 0 3em 0;
  }

  &__header {
    display: flex;
    flex-direction: column;
    margin: auto;

    @media (max-width: $mobile) {
      margin: 0;
      padding: 4em 1em;
    }

    &__title {
      font-family: $m3-title;
      background: linear-gradient(to right, $sect1-m3 0%, $sect3-m3 100%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 4.5em;
      font-weight: 500;
      padding: 1.2em 0.1em;
      margin: 0;

      @media (max-width: $tablet) {
        font-size: 3em;
      }

      @media (max-width: $mobile) {
        font-size: 3em;
        padding: 0.2em 0;
      }
    }
  }

  &__section {
    flex-direction: row;
    margin-bottom: 2em;

    @media (max-width: $mobile) {
      margin-bottom: 2em;
    }

    &__wrapper {
      display: flex;
      flex-direction: row;
      margin-bottom: 2em;

      &__span {
        margin: auto 0;
        max-width: 250px;

        @media (max-width: $mobile) {
          display: none;
        }
      }

      &__title {
        position: relative;
        font-size: 1.35em;
        font-weight: 600;
        white-space: nowrap;
        margin: 0 auto;
        padding: 0 0.5em;

        @media (max-width: $mobile) {
          font-size: 1.35em;
          padding: 0;
        }

        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 3px;
          bottom: 0;
          left: 0;
          background-color: black;
          visibility: hidden;
          transform-origin: 0% 50%;
          transform: scaleX(0);
          transition: 0.2s cubic-bezier(0.32, 0, 0.07, 1);
        }

        &:hover::before {
          visibility: visible;
          transform: scaleX(1);
        }
      }
    }

    &__txt {
      font-size: 1em;
      display: flex;
      padding: 0 4em;

      @media (max-width: $tablet) {
        padding: 0 2.3em;
      }

      @media (max-width: $mobile) {
        font-size: 1em;
        flex-direction: column;
        margin: 1em 0 1.5em 0;
        text-align: center;
        padding: 0;
      }
    }

    &__price {
      font-size: 1.3em;
      font-weight: 600;
      margin: 0 0 auto auto;
      padding-left: 0.2em;

      @media (max-width: $mobile) {
        margin: 0.7em auto;
        padding: 0;
      }
    }
  }
}
