/*---------------------------------*/
/*         _variables.scss        */
/*-------------------------------*/

/*---------------------------*/
/*          Fonts           */
/*-------------------------*/

/*          Menu 1       */

$m1-title: "Ma Shan Zheng", cursive;
$m1-sect: "Segoe Print", cursive;

/*          Menu 2       */

$m2-title: "Redressed", cursive;
$m2-S-title: "Source Serif Pro", serif;
$m2-p: "PT Serif", serif;

/*          Menu 3       */

$m3-title: "Dancing Script", cursive;
$m3-sect: "Segoe Print", cursive;

/*          Menu 4       */

$m4-title: "Kaushan Script", cursive;
$m4-sect: "Segoe Print", cursive;

/*---------------------------*/
/*          Colors          */
/*-------------------------*/

/*         General       */

$light-green: #579c87;
$yellow: #fdcb46;

/*          Menu 1       */

$bg-m1: #fcdfdb;
$txt-m1: #3d1319;

/*          Menu 2       */

$bg-m2: #fff5fe;
$sect1-m2: #c67412;
$sect2-m2: #a56799;
$sect3-m2: #6e4ccc;

/*          Menu 3       */

$bg-m3: #edefef;
$sect1-m3: #0228dd;
$sect2-m3: #0670f3;
$sect3-m3: #229df9;

/*          Menu 4       */

$bg-m4: #fdfffd;
$sect1-m4: #3d923a;
$sect2-m4: #beff7f;
