@mixin menu-gradient-title($color-1, $color-2) {
  background: linear-gradient(to right, $color-1 0%, $color-2 100%);
  background-clip: text;
  color: rgba(0, 0, 0, 0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
